.picture_profile {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    border: solid 4px white;
}

#profile {
    margin-top: 80px;
    padding-top: 50px;
    margin-bottom: 60px;
}

.pic p {
    font-size: 22px;
}

.information h2 {
    font-size: 20px;
}

.information p {
    font-size: 13px;
    font-family: 'LEMONMILK', 'arial';
    text-align: justify;
    padding: 20px;
    background-color: #f9f6f1;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.pic_label img {
    width: 30px;
    height: 30px;
}

.tile {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

.preferences {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 20%;
    font-size: 16px;
    margin-top: 30px;
}

.stats {
    margin-top: 20px;
}
