#login {
    border-radius: 20px;
    background-color: #f3ddc6;
    width: 33%;
    max-height: 500px;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formLogIn form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.pic_label input {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'LEMONMILK', Arial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    width: 100%;
}

.pic_label {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pic_label img {
    width: 30px;
    height: 30px;
}

.pic_label {
    margin: none;
}

#login .submit {
    border: none;
    border-radius: 20px;
    background-color: #c26400;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'LEMONMILK', Arial;
    width: 120px;
    text-align: center;
    color: #f9f6f1;
}
