h1 {
    margin-top: 60px;
}

.tile {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: space-around;
    vertical-align: top;
}

.tile:nth-child(odd) {
    flex-direction: row;
}

.tile:nth-child(even) {
    flex-direction: row-reverse;
}

.pic_container {
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    background-color: #f9f6f1;
    padding: 4px;
}

.pic_container img {
    width: inherit;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.description {
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
    text-align: justify;
}

.tile:nth-child(odd) h3 {
    text-align: left;
}

.tile:nth-child(even) h3 {
    text-align: right;
}

.description p {
    font-family: 'LEMONMILK';
    font-size: 13px;
}

.description h3 {
    font-size: 18px;
}
