@font-face {
    font-family: 'LEMONMILK';
    src: url("../../font/otf/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: 'LEMONMILK-BOLD';
    src: url("../../font/otf/LEMONMILK-Bold.otf");
}

html {
    background-color: #f9f6f1;
    font-family: 'LEMONMILK-BOLD', Arial;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

body{
    top: 1000px;
    text-align: center;
    height: 100%;
    margin: 0;
}

a {
    color: #191A1C;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

ul {
    list-style: none;
}

a:hover{
    color: #C26500;
    cursor: pointer;
}

a:active{
    color: #C26500;
}

nav{
    margin-top: 10px;
}

nav li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    border: none;
    border-top: 2px solid #1B191E;
    color: #1B191E;
    height: 5px;
    width: 50%;
}

.header{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    background-color: #f3ddc6;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.header nav ul li a {
    position: relative;
}

.empty_block {
    display: block;
    background-color: #f3ddc6;
    width: 100%;
    height: 90px;
}

#logo{
    height: auto;
    width: 400px;
    padding-left: 20px;
    padding-top: 10px;
}

#login{
    display: flex;
    flex-direction: column;
}

.serverResponse {
    color: red;
}

input{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
/*
#formUp {
    text-align: center;
    clear: both;
}

#formUp h2 {
    margin: auto;
    margin-top: 40px;
}

.vertical_line{
    width: 2px;
    border-left: 2px solid #1B191E;
    height : 250px;
}

.little_vertical_line{
    width: 2px;
    border-left: 2px solid #1B191E;
    height : 60px;
}*/

/* ------------------------------ */

.input_button {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'LEMONMILK-BOLD', Arial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit_button {
    border: none;
    border-radius: 20px;
    background-color: #c26400;
    color: #f9f6f1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'LEMONMILK-BOLD', Arial;
    text-align: center;
}

.submit_button:hover {
    filter: brightness(140%);
    cursor: pointer;
}

.tile {
    border-radius: 20px;
    background-color: #f3ddc6;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.pic_label {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-bottom: 20px;
}

.pic_label img {
    margin-right: 20px;
}

.close {
    float: left;
    background: #606061;
    background-color: #c26516;
    color: #c26400;
    line-height: 25px;
    position: fixed;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-bottom: 10px;
    height: 30px;
}

.close:hover {
    background: #1B191E;
}

.notification {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
}

#notified:hover .notification {
    filter: brightness(140%);
    transition-duration: 0.5s;
}

.modal{
    width: 80%;
    height: auto;
    max-height: 50%;
    left: -50%;
    right: 10%;
    top: 25%;
    background-color: #f3ddc6;
    border-radius: 10px;
    position: fixed;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 6px rgba(0,0,0,0.75);
    z-index: 7;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    overflow-y: auto;
}
