@font-face {
    font-family: 'LEMONMILK';
    src: url("../../font/otf/LEMONMILK-Bold.otf");
}

html {
    background-color: #f9f6f1;
    font-family: 'LEMONMILK', Arial;
    font-size: 20px;
}

body{
    top: 1000px;
    text-align: center;
}

a {
    color: #191A1C;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

ul {
    list-style: none;
}

a:hover{
    color: #C26500;
}

a:active{
    color: #C26500;
}

nav{
    margin-left: -20px;
    float: right;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    border: none;
    border-top: 2px solid #1B191E;
    color: #1B191E;
    height: 5px;
    width: 50%;
}

.header{
    position: static;
    overflow: hidden;
}

#logo{
    height: 50px;
    width :auto;
    padding-right: -20px;
    float: left;
}

#login{
    display: flex;
    flex-direction: column;
}

.serverResponse {
    color: red;
}

input{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#formUp {
    text-align: center;
    clear: both;
}

#formUp h2{
    margin: auto;
    margin-top: 40px;
}

.ride{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    float: none;
    border: 4px solid #C26500;
    border-radius: 25px;
    border-width: 3px;

    /*FlexBox*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pic{
    margin-top: 20px;
}
.pic img{
    height: 200px;
    width: auto;
    right: 0px;
}

.pic a{
    height: 200px;
    width: auto;
    right: 0px;
}

.options{
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.options img{
    height: 30px;
    width: 30px;
    position: static;
}

#menu_opt{
    display: none;
    position: relative;
}

#menu_opt li{
    background-color: #E4AA4E;
    border: 1px solid #1B191E;
}

#sponsor1{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
    border: 4px solid #C26500;
    border-radius: 25px;
    border-width: 3px;
    display: flex;
    flex-direction: row;
}

#sponsor2{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
    border: 4px solid #C26500;
    border-radius: 25px;
    border-width: 3px;
    display: flex;
    flex-direction: row-reverse;
}

.company{
    margin-top: 50px;

    /*FlexBox*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company img{
    height: 100px;
    width: auto;
}

#profile{
    vertical-align: baseline;
}

#profile img{
    vertical-align: bottom;
}

.information{
    vertical-align: auto;
}

.information img{
    height: 150px;
    width: auto;
}

.preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.preferences img{
    height: 60px;
    width: auto;
}

.stats{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.registered{
    padding: 15px;
}

.ridesCompleted{
    padding: 15px;
}

.vertical_line{
    width: 2px;
    border-left: 2px solid #1B191E;
    height : 250px;
}

.little_vertical_line{
    width: 2px;
    border-left: 2px solid #1B191E;
    height : 60px;
}