@font-face {
    font-family: 'LEMONMILK';
    src: url("../font/otf/LEMONMILK-Bold.otf");
}

html {
    background-color: #F7EDD0;
    font-family: 'LEMONMILK', Arial;
    font-size: 20px;
}

a {
    color: #1B191E;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

a:hover{
    color: #C26500;
}

a:active{
    color: #C26500;
}

nav{
    margin-left: -20px;
    float: right;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    border: none;
    border-top: 2px solid #1B191E;
    color: #1B191E;
    height: 5px;
    width: 50%;
}

.header{
    position: static;
}

#logo{
    height: 50px;
    width :auto;
    padding-right: -20px;
    float: left;
}

#formUp {
    text-align: center;
    clear: both;
}

#formUp h2{
    margin: auto;
    margin-top: 40px;
}

